---
layout: layouts/base.njk
---

<article class="post">
  <header>
    <h1>{{ title }}</h1>
    {% if date %}
      <p class="post-date">{{ date | postDate }}</p>
    {% endif %}
  </header>
  <div class="post-body">
    {{ content | safe }}
  </div>
</article>
